<main class="site-main">
    <section class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 site-title my-auto">
                    <h3 class="title-text">Hai</h3>
                    <h1 class="title-text text-uppercase">I am Music Player</h1>
                </div>
                <div class="col-lg-6 col-md-12 banner-img px-md-5">
                    <!-- <img src="../../assets/images/undraw_happy_music_g6wc.svg" alt="" class="img-fluid"> -->
                    <img src="../../assets/images/undraw_happy_music_g6wc.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</main>